**/__pycache__/
.log
*.jpg
*.png
*.npy

data/*
unet_labeled/*
data/images/*
unet_labeled/*
preprocessed_data/*
checkpoint/cropper/20*
checkpoint/vgg16_*
!checkpoint/cropper/pretrained/*
!checkpoint/grader/pretrained/*
.vscode/*
*/__pycache__/*
